In [1]:
a=10
if a<=10:
    print("it is equal to 10")
else:
    print("not equal to 10")

it is equal to 10

In [2]:
a=10
if a>10:
    pass

In [3]:
a=10
if a<10:
    print("print condition is true")

In [4]:
a=10
if a!=10:
    print("my condition is false")
else:
    print("my condition is true")

my condition is true

In [5]:
a=10
if a==12:
    print("we are trying to check comapare 10 with 12")
elif a==11:
    print("we are trying to compare 10 with 11")
elif a<=10:
    print("we are trying to compare 10 with a")
else:
    print("if all blocks will fail to do this")

we are trying to compare 10 with a

In [6]:
price=500
if price> 500:
    print("i will not able to buy jacket")

elif price <500 :
    print("i will able to buy a jacket")

else:
    print("i don'nt know")

i don'nt know

In [7]:
price<=500

True

In [8]:
l1=[1,2,3,4,5,6]
2 in l1

True

In [9]:
if 60 in l1:
    print("try to perform  a task")
else:
    print("do not perform this task")

do not perform this task

In [10]:
l1

[1, 2, 3, 4, 5, 6]

In [11]:
if 10 in l1:
    print("try to addition")
elif 20 in l1:
    print("try to subtraction")
elif 30 in l1:
    print("try to multiply")
else:
    print("not in a list")
if 2 in l1:
    print("this is a new task")

not in a list
this is a new task

In [12]:
a=400

In [13]:
b=int(input("enter your number "))

enter your number 400

In [14]:
b

400

In [15]:
type(b)

int

In [17]:
price=int(input("Enter your number "))
if price<500:
    print("i will able to buy something")
    if price >=400:
        print(" i will be able buy a jacket")
    elif  price <=300:
        print("i will be able buy  shirt")
    else :
        print(" i wont be able buy anything")
else :
    print(" i wont able to buy anything with this price tag")

Enter your number 600
 i wont able to buy anything with this price tag

In [99]:
marks=int(input("Your Marks "))
if marks<600:
    print("SORRY!YOU WILL NOT get admission in GRE")
    if marks>400:
        print("CONGRATS! you get admission in TOPEL")
    if marks<400:
        print(" and TOFEL")
        print("TRy something else")
    
else:
    print("CONGRATS YOU GET ADMISSION IN GRE")

Your Marks 100
SORRY!YOU WILL NOT get admission in GRE
 and TOFEL
TRy something else

In [104]:
val=float(input("Enter Floating number"))
if val>=0:
    if val==0:
        print("Entered no.is ZERO")
    else:
        print("Entered number is POSITIVE NUMBER")
else:
    print("Entered NO.is NEGATIVE NUMBER")

Enter Floating number23
Entered number is POSITIVE NUMBER

In [113]:
a="sudh"
if a=="sudh" or a=='Sudh' or a=="sudh":
    print("this is sudh")

this is sudh

In [119]:
a=int(input("a"))
b=11
c=12
d=13
if a==9 and b==11 or c==12 and d==13:
    print(" try to do something")

a10
 try to do something

In [120]:
d={"key1":"value","key2":"sudh","key3":"ineuron"}

In [121]:
d

{'key1': 'value', 'key2': 'sudh', 'key3': 'ineuron'}

In [129]:
if d["key1"]=="value" and d["key2"]=="Sudh" and d["key3"]=="ineuron":
     print("all values are verified")
     print(d.values())
else:
    print("all values are not verified")

all values are not verified

In [131]:
l=[1,2,3,4,5,6,7,8,"sudh",234.45]

In [132]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 'sudh', 234.45]

In [133]:
l[2:5]

[3, 4, 5]

In [144]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 'sudh', 234.45]

In [178]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i + 1)
    elif type(i) ==str:
        print(i+" "+str(1))

2
3
4
5
6
7
8
9
sudh 1
235.45

In [196]:
temp=int(input("enter  temperature "))
if temp>30:
    print("its hot temp")
elif temp<20:
    print("its cold temp")
else:
    print("its moderate temp")

enter  temperature 19
its coldtemp

In [198]:
NUMBER1=int(input("Enter your first number "))
NUMBER2=int(input("Enter your second number "))
if NUMBER1>NUMBER2:
    print("first number is greater than second")
elif NUMBER1<NUMBER2:
    print("Second number is greater than first")
else:
    print("both number are equal")

Enter your first number 1
Enter your second number 1
both number are equal