In [1]:
l=[1,2,3,4,5,6,7,"sudh","kumar",45.56]

In [2]:
l

[1, 2, 3, 4, 5, 6, 7, 'sudh', 'kumar', 45.56]

In [3]:
for i in l:
    print(i)

1
2
3
4
5
6
7
sudh
kumar
45.56

In [4]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i)

1
2
3
4
5
6
7
45.56

In [5]:
for i in l:
   
  pass

In [6]:
s="sudh"

In [7]:
s

'sudh'

In [8]:
for i in s:
    print(i*2)

ss
uu
dd
hh

In [9]:
for i in l:
    print(i)
else:
    print("rj")

1
2
3
4
5
6
7
sudh
kumar
45.56
rj

In [10]:
for i in l:
    if type(i)==str:
        break 
    print(i) 
else:
    print(" i is completed")

1
2
3
4
5
6
7

In [11]:
s="sudhanshu"
for i in s:
    if i=="n":
        pass
        print(i) 
    print(i)
else:
    print("string ", s)

s
u
d
h
a
n
n
s
h
u
string  sudhanshu

In [12]:
t=(4,5,6,7,8,6,"sudh")

In [13]:
t

(4, 5, 6, 7, 8, 6, 'sudh')

In [14]:
for i in t:
    print(i)

4
5
6
7
8
6
sudh

In [15]:
s={2,3,4,4,3,4,5,6,"sudh"}

In [16]:
s

{2, 3, 4, 5, 6, 'sudh'}

In [17]:
s

{2, 3, 4, 5, 6, 'sudh'}

In [18]:
for i in s:
    print(i)

sudh
2
3
4
5
6

In [19]:
b={4,5,6,7,7,7,7,7,"rajat"}

In [20]:
b

{4, 5, 6, 7, 'rajat'}

In [21]:
for i in b:
    print(i)

rajat
4
5
6
7

In [22]:
d={"key1":"sudh","contact":"sudhanshu@ineyron.ai","positive":"xyz"}

In [23]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineyron.ai', 'positive': 'xyz'}

In [24]:
for i in d:
    print(i,d[i])

key1 sudh
contact sudhanshu@ineyron.ai
positive xyz

In [25]:
a=5

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
n=4
for i in range(n):
    for j in range(0,i+1):
        print("sudh" , end=" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [28]:
n=4
k=4
for i in range(n):
    k=k-1
    print("  "*k , end=" ")
    for j in range(i+1):
        print("sudh" , end=" ")
   
    print()

       sudh
     sudh sudh
   sudh sudh sudh
 sudh sudh sudh sudh

In [128]:
n=4
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("sudh" ), end=" ")
    for k in range(i+1) :
        print("sudh" , end=" ")
    for j in range(i):
        print("sudh", end=" ")
        
    print() 
for j in range(3):
    for k in range(j+1):
        print(" "*len("sudh"),end=" ")
    for k in range(j,3):
        print("sudh",end=" ")
    for k in range(j,2):
        print("sudh",end=" ")
    print()

               sudh
          sudh sudh sudh
     sudh sudh sudh sudh sudh
sudh sudh sudh sudh sudh sudh sudh
     sudh sudh sudh sudh sudh
          sudh sudh sudh
               sudh

In [30]:
a,b,c=10,20,30

In [31]:
d={4:5,"key1":"sudh","key2":"kumar"}
for i,j in d.items():
    print(i,":",j)

4 : 5
key1 : sudh
key2 : kumar

In [32]:
row=4
for i in range(row):
    for j in range(i+1):
        if range(i)==5:
            break
        print("ineuron",end=" ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [33]:
row=3
for i in range(row):
    for j in range(i,row-1):
        print("    ",end="   ")
    for j in range(i+1) :
        print("ineuron",end="        ")
    print()   
for k in range(2):
    for j in range(k):
        print("        ",end=" ")
    for j in range(k,2):
        print("      ineuron",end="    ")
    
    print()

              ineuron
       ineuron        ineuron
ineuron        ineuron        ineuron
      ineuron          ineuron
               ineuron

In [34]:
l=[[1,2,3,4,5],(2,3,4,5,6),(3,4,5,6),set([23,4,5,45,4,4,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datscience"]]

In [35]:
l

[[1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datscience']]

In [36]:
for i in l:
    if type(i)==list:
        print(i,type(i))

[1, 2, 3, 4, 5] <class 'list'>
['ineuron', 'datscience'] <class 'list'>

In [37]:
for i in l:
    if type(i)==dict:
        print(i,type(i))

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8} <class 'dict'>

In [38]:
for i in l:
    if type(i)==tuple:
        print(i,type(i))

(2, 3, 4, 5, 6) <class 'tuple'>
(3, 4, 5, 6) <class 'tuple'>

In [39]:
for i  in l:
    if type(i)==list or type(i)==dict or type(i)==tuple or type(i)==set:
        pass
        for j in i:
            if type(j)==int:
            
                print(j)

1
2
3
4
5
2
3
4
5
6
3
4
5
6
45
4
5
23
3
7

In [46]:
l

[[1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datscience']]

In [58]:
sum=0
l1=[]
for i in l:
    
    if type(i)==list or type(i)==tuple or type(i)==set :
        
        
        for j in i:
            if type(j)==int :
                sum+=j   
                l1.append(j)   
                 
    elif type(i) ==dict:
        for k ,v in i.items():
            if type(k)==int or type(v)==int:
            
                sum+=k
                sum+=v
                l1.append(v) 
                l1.append(k)
        print(l1)
print(sum)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 45, 4, 5, 23, 6, 3, 8, 7]
154

In [42]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set or type(i)==dict:
        for j in i:
            if type(j)==int:
                if j%2==0:
                    print(j)

2
4
2
4
6
4
6
4

In [59]:
l

[[1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datscience']]

In [77]:
for i in l:
    if type(i)==list:
        for j in i:
            if j=="ineuron":
                print(j)
    elif type(i) ==dict:
        for k in i.values():
            if k=="ineuron":
                print(k)

ineuron
ineuron

In [94]:
for i in l:
    if type(i)==dict :
        for j,k in i.items():
            if type(j)==str:

                print(j,":",k)
    elif type(i) ==list:
        for j in i:
            if type(j)==str:
                print(j)

k1 : sudh
k2 : ineuron
k3 : kumar
ineuron
datscience

In [129]:
l

[[1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datscience']]

In [140]:

m1=1
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                m1*=j
                print(j)
                
    elif type(i) ==dict:
        for k , v in i.items():
            if type(k)==int:
                m1*=k
                m1*=v
                print(k)
                print(v)
                

print("multiplication of all numeric data is ",m1)

1
2
3
4
5
2
3
4
5
6
3
4
5
6
45
4
5
23
3
6
7
8
multiplication of all numeric data is  649003622400000

In [150]:
l1=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==set:
        for j in i:
            
            l1.append(j)
    elif  type(i)==dict:
        for k ,v in i.items():
            
    
            l1.append(k)
            l1.append(v)
print(l1) 
s=[]
for i in l1:
    if type(i)==str:
        s.append(i)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 3, 4, 5, 6, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'datscience']

In [151]:
s

['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'datscience']

In [164]:
s=str(s)
if s.isalnum()==True:
        print(i)
else:
        print("its not alphanum")

its not alphanum

"['k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 'ineuron', 'datscience']"

In [169]:
s="k1"
s.isalnum()

True

In [170]:
l

[[1, 2, 3, 4, 5],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'datscience']]

In [197]:
s=str(list(l))

In [198]:
s

"[[1, 2, 3, 4, 5], (2, 3, 4, 5, 6), (3, 4, 5, 6), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'datscience']]"

In [216]:

for i in list(s):
    s.isalnum==True
    print(i)

[
[
1
,

2
,

3
,

4
,

5
]
,

(
2
,

3
,

4
,

5
,

6
)
,

(
3
,

4
,

5
,

6
)
,

{
4
5
,

4
,

5
,

2
3
}
,

{
'
k
1
'
:

'
s
u
d
h
'
,

'
k
2
'
:

'
i
n
e
u
r
o
n
'
,

'
k
3
'
:

'
k
u
m
a
r
'
,

3
:

6
,

7
:

8
}
,

[
'
i
n
e
u
r
o
n
'
,

'
d
a
t
s
c
i
e
n
c
e
'
]
]