In [ ]:
#1. Read this dataset in pandas , mysql and mongodb 
2. while creting a table in mysql dont use manual approach to create it  ,always use a automation to create a table in mysql
 ## hint - use csvkit library to automate this task and to load a data in bulk in you mysql 
3. convert all the dates avaible in dataset to timestamp format in pandas and in sql you to convert it in date format
4 . Find out in this data that how many unique id's we have 
5 . which id is one of the active id that you have in whole dataset 
6 . how many of them have not logged there activity find out in terms of number of ids 
7 . Find out who is the laziest person id that we have in dataset 
8 . Explore over an internet that how much calories burn is required for a healthy person and find out how many healthy person we have in our dataset 
9. how many person are not a regular person with respect to activity try to find out those 
10 . who is the thired most active person in this dataset find out those in pandas and in sql both . 
11 . who is the 5th most laziest person avilable in dataset find it out 
12 . what is a totla acumulative calories burn for a person find out

In [1]:
pip install csvkit

Collecting csvkit
  Obtaining dependency information for csvkit from https://files.pythonhosted.org/packages/6c/84/b10374471438b12122b9050e5b8b7652a08e4286f02293c379bc93e640d5/csvkit-1.4.0-py2.py3-none-any.whl.metadata
  Downloading csvkit-1.4.0-py2.py3-none-any.whl.metadata (3.1 kB)
Collecting agate>=1.6.3 (from csvkit)
  Obtaining dependency information for agate>=1.6.3 from https://files.pythonhosted.org/packages/d1/53/89b197cb472a3175d73384761a3413fd58e6b65a794c1102d148b8de87bd/agate-1.9.1-py2.py3-none-any.whl.metadata
  Downloading agate-1.9.1-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting agate-excel>=0.2.2 (from csvkit)
  Obtaining dependency information for agate-excel>=0.2.2 from https://files.pythonhosted.org/packages/d6/6f/5d71389b715654dc636180af8b33923926f73c4cf89450813c9380cbb3cf/agate_excel-0.4.1-py2.py3-none-any.whl.metadata
  Downloading agate_excel-0.4.1-py2.py3-none-any.whl.metadata (2.7 kB)
Collecting agate-dbf>=0.2.2 (from csvkit)
  Obtaining dependency information for agate-dbf>=0.2.2 from https://files.pythonhosted.org/packages/d9/99/cd4729cb51d6c7de8ad00eab375021cb34b8ca132350efe401488af10483/agate_dbf-0.2.3-py2.py3-none-any.whl.metadata
  Downloading agate_dbf-0.2.3-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting agate-sql>=0.5.3 (from csvkit)
  Obtaining dependency information for agate-sql>=0.5.3 from https://files.pythonhosted.org/packages/42/41/ce4192b0ee21d5120d20de58751ce56fae7bebe4c56966dc64c41534d4e4/agate_sql-0.7.2-py2.py3-none-any.whl.metadata
  Downloading agate_sql-0.7.2-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: openpyxl in e:\anacondadistribution\lib\site-packages (from csvkit) (3.0.10)
Requirement already satisfied: sqlalchemy in e:\anacondadistribution\lib\site-packages (from csvkit) (1.4.39)
Collecting xlrd (from csvkit)
  Obtaining dependency information for xlrd from https://files.pythonhosted.org/packages/a6/0c/c2a72d51fe56e08a08acc85d13013558a2d793028ae7385448a6ccdfae64/xlrd-2.0.1-py2.py3-none-any.whl.metadata
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: Babel>=2.0 in e:\anacondadistribution\lib\site-packages (from agate>=1.6.3->csvkit) (2.11.0)
Collecting isodate>=0.5.4 (from agate>=1.6.3->csvkit)
  Obtaining dependency information for isodate>=0.5.4 from https://files.pythonhosted.org/packages/b6/85/7882d311924cbcfc70b1890780763e36ff0b140c7e51c110fc59a532f087/isodate-0.6.1-py2.py3-none-any.whl.metadata
  Downloading isodate-0.6.1-py2.py3-none-any.whl.metadata (9.6 kB)
Collecting leather>=0.3.2 (from agate>=1.6.3->csvkit)
  Obtaining dependency information for leather>=0.3.2 from https://files.pythonhosted.org/packages/a1/30/9ec597c962c5249ebd5c580386e4b5f2884cd943af42634291ee3b406415/leather-0.4.0-py2.py3-none-any.whl.metadata
  Downloading leather-0.4.0-py2.py3-none-any.whl.metadata (2.8 kB)
Collecting parsedatetime!=2.5,>=2.1 (from agate>=1.6.3->csvkit)
  Obtaining dependency information for parsedatetime!=2.5,>=2.1 from https://files.pythonhosted.org/packages/9d/a4/3dd804926a42537bf69fb3ebb9fd72a50ba84f807d95df5ae016606c976c/parsedatetime-2.6-py3-none-any.whl.metadata
  Downloading parsedatetime-2.6-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: python-slugify>=1.2.1 in e:\anacondadistribution\lib\site-packages (from agate>=1.6.3->csvkit) (5.0.2)
Collecting pytimeparse>=1.1.5 (from agate>=1.6.3->csvkit)
  Obtaining dependency information for pytimeparse>=1.1.5 from https://files.pythonhosted.org/packages/1b/b4/afd75551a3b910abd1d922dbd45e49e5deeb4d47dc50209ce489ba9844dd/pytimeparse-1.1.8-py2.py3-none-any.whl.metadata
  Downloading pytimeparse-1.1.8-py2.py3-none-any.whl.metadata (3.4 kB)
Collecting tzdata>=2023.3 (from agate>=1.6.3->csvkit)
  Obtaining dependency information for tzdata>=2023.3 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting dbfread>=2.0.5 (from agate-dbf>=0.2.2->csvkit)
  Obtaining dependency information for dbfread>=2.0.5 from https://files.pythonhosted.org/packages/4c/94/51349e43503e30ed7b4ecfe68a8809cdb58f722c0feb79d18b1f1e36fe74/dbfread-2.0.7-py2.py3-none-any.whl.metadata
  Downloading dbfread-2.0.7-py2.py3-none-any.whl.metadata (3.3 kB)
Collecting olefile (from agate-excel>=0.2.2->csvkit)
  Obtaining dependency information for olefile from https://files.pythonhosted.org/packages/17/d3/b64c356a907242d719fc668b71befd73324e47ab46c8ebbbede252c154b2/olefile-0.47-py2.py3-none-any.whl.metadata
  Downloading olefile-0.47-py2.py3-none-any.whl.metadata (9.7 kB)
Requirement already satisfied: et_xmlfile in e:\anacondadistribution\lib\site-packages (from openpyxl->csvkit) (1.1.0)
Requirement already satisfied: greenlet!=0.4.17 in e:\anacondadistribution\lib\site-packages (from sqlalchemy->csvkit) (2.0.1)
Requirement already satisfied: pytz>=2015.7 in e:\anacondadistribution\lib\site-packages (from Babel>=2.0->agate>=1.6.3->csvkit) (2022.7)
Requirement already satisfied: six in e:\anacondadistribution\lib\site-packages (from isodate>=0.5.4->agate>=1.6.3->csvkit) (1.16.0)
Requirement already satisfied: text-unidecode>=1.3 in e:\anacondadistribution\lib\site-packages (from python-slugify>=1.2.1->agate>=1.6.3->csvkit) (1.3)
Downloading csvkit-1.4.0-py2.py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/43.9 kB ? eta -:--:--
   ------------------------------------- -- 41.0/43.9 kB 1.9 MB/s eta 0:00:01
   ------------------------------------- -- 41.0/43.9 kB 1.9 MB/s eta 0:00:01
   ------------------------------------- -- 41.0/43.9 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 43.9/43.9 kB 238.5 kB/s eta 0:00:00
Downloading agate-1.9.1-py2.py3-none-any.whl (95 kB)
   ---------------------------------------- 0.0/95.1 kB ? eta -:--:--
   -------------------------------------- - 92.2/95.1 kB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 92.2/95.1 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 95.1/95.1 kB 912.3 kB/s eta 0:00:00
Downloading agate_dbf-0.2.3-py2.py3-none-any.whl (3.6 kB)
Downloading agate_excel-0.4.1-py2.py3-none-any.whl (7.1 kB)
Downloading agate_sql-0.7.2-py2.py3-none-any.whl (7.3 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
   -------------------------------------- - 92.2/96.5 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 96.5/96.5 kB 1.4 MB/s eta 0:00:00
Downloading dbfread-2.0.7-py2.py3-none-any.whl (20 kB)
Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
   ---------------------------------------- 0.0/41.7 kB ? eta -:--:--
   ---------------------------------------- 41.7/41.7 kB 1.0 MB/s eta 0:00:00
Downloading leather-0.4.0-py2.py3-none-any.whl (30 kB)
Downloading parsedatetime-2.6-py3-none-any.whl (42 kB)
   ---------------------------------------- 0.0/42.5 kB ? eta -:--:--
   -------------------------------------- - 41.0/42.5 kB ? eta -:--:--
   ---------------------------------------- 42.5/42.5 kB 687.4 kB/s eta 0:00:00
Downloading pytimeparse-1.1.8-py2.py3-none-any.whl (10.0 kB)
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   ---------------------- ----------------- 194.6/345.4 kB 3.9 MB/s eta 0:00:01
   ---------------------------------------  337.9/345.4 kB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 345.4/345.4 kB 3.0 MB/s eta 0:00:00
Downloading olefile-0.47-py2.py3-none-any.whl (114 kB)
   ---------------------------------------- 0.0/114.6 kB ? eta -:--:--
   ---------------------------------------  112.6/114.6 kB ? eta -:--:--
   ---------------------------------------  112.6/114.6 kB ? eta -:--:--
   -------------------------------------- 114.6/114.6 kB 948.4 kB/s eta 0:00:00
Installing collected packages: pytimeparse, parsedatetime, leather, dbfread, xlrd, tzdata, olefile, isodate, agate, agate-sql, agate-excel, agate-dbf, csvkit
Successfully installed agate-1.9.1 agate-dbf-0.2.3 agate-excel-0.4.1 agate-sql-0.7.2 csvkit-1.4.0 dbfread-2.0.7 isodate-0.6.1 leather-0.4.0 olefile-0.47 parsedatetime-2.6 pytimeparse-1.1.8 tzdata-2024.1 xlrd-2.0.1
Note: you may need to restart the kernel to use updated packages.

In [14]:
import MySQLdb

In [25]:
!csvsql --db mysql://root:ROCKINGRJ12345@localhost/DB1 --insert fit_bit_data.csv

E:\AnacondaDistribution\Lib\site-packages\agate\table\from_csv.py:67: RuntimeWarning: Error sniffing CSV dialect: Could not determine delimiter
  kwargs['dialect'] = csv.Sniffer().sniff(contents.getvalue()[:sniff_limit])
OperationalError: (MySQLdb.OperationalError) (1050, "Table 'fit_bit_data' already exists")
[SQL:
CREATE TABLE fit_bit_data (
	`Id` DECIMAL(38, 0) NOT NULL,
	`ActivityDate` DATE NOT NULL,
	`TotalSteps` DECIMAL(38, 0) NOT NULL,
	`TotalDistance` DECIMAL(38, 17) NOT NULL,
	`TrackerDistance` DECIMAL(38, 17) NOT NULL,
	`LoggedActivitiesDistance` DECIMAL(38, 15) NOT NULL,
	`VeryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`ModeratelyActiveDistance` DECIMAL(38, 16) NOT NULL,
	`LightActiveDistance` DECIMAL(38, 17) NOT NULL,
	`SedentaryActiveDistance` DECIMAL(38, 17) NOT NULL,
	`VeryActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`FairlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`LightlyActiveMinutes` DECIMAL(38, 0) NOT NULL,
	`SedentaryMinutes` DECIMAL(38, 0) NOT NULL,
	`Calories` DECIMAL(38, 0) NOT NULL
)

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [48]:
import pandas as pd
df=pd.read_csv(r"C:\Users\RJ\Desktop\Practice Resourses\fit_bit_data.csv")

In [31]:
df

             Id ActivityDate  TotalSteps  ...  LightlyActiveMinutes  SedentaryMinutes  Calories
0    1503960366    3/25/2016       11004  ...                   205               804      1819
1    1503960366    3/26/2016       17609  ...                   274               588      2154
2    1503960366    3/27/2016       12736  ...                   268               605      1944
3    1503960366    3/28/2016       13231  ...                   224              1080      1932
4    1503960366    3/29/2016       12041  ...                   243               763      1886
..          ...          ...         ...  ...                   ...               ...       ...
452  8877689391     4/8/2016       23014  ...                   359               982      4196
453  8877689391     4/9/2016       16470  ...                   289              1052      3841
454  8877689391    4/10/2016       28497  ...                   211              1055      4526
455  8877689391    4/11/2016       10622  ...                   225              1190      2820
456  8877689391    4/12/2016        2350  ...                    58               531       938

[457 rows x 15 columns]

In [32]:
pip install pymongo[srv]

Collecting pymongo[srv]Note: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for pymongo[srv] from https://files.pythonhosted.org/packages/9d/10/f01efcd8f34cce0adb59c9feebdd092bd7305d35e77400e9999557112ade/pymongo-4.6.2-cp311-cp311-win_amd64.whl.metadata
  Downloading pymongo-4.6.2-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo[srv])
  Obtaining dependency information for dnspython<3.0.0,>=1.16.0 from https://files.pythonhosted.org/packages/87/a1/8c5287991ddb8d3e4662f71356d9656d91ab3a36618c3dd11b280df0d255/dnspython-2.6.1-py3-none-any.whl.metadata
  Downloading dnspython-2.6.1-py3-none-any.whl.metadata (5.8 kB)
Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
   ---------------------------------------- 0.0/307.7 kB ? eta -:--:--
   --------------- ------------------------ 122.9/307.7 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------  307.2/307.7 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------  307.2/307.7 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 307.7/307.7 kB 1.9 MB/s eta 0:00:00
Downloading pymongo-4.6.2-cp311-cp311-win_amd64.whl (472 kB)
   ---------------------------------------- 0.0/472.8 kB ? eta -:--:--
   ------------------- -------------------- 235.5/472.8 kB 4.8 MB/s eta 0:00:01
   -------------------------------------- - 450.6/472.8 kB 4.7 MB/s eta 0:00:01
   ---------------------------------------  471.0/472.8 kB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 472.8/472.8 kB 3.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.6.2

In [37]:
pip install  pymongo

Requirement already satisfied: pymongo in e:\anacondadistribution\lib\site-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in e:\anacondadistribution\lib\site-packages (from pymongo) (2.6.1)
Note: you may need to restart the kernel to use updated packages.

In [49]:
import pymongo
import pandas as pd
client=pymongo.MongoClient("mongodb+srv://rajatksingh64:ROCKINGRJ12345@cluster1.mk1y1ia.mongodb.net/?retryWrites=true&w=majority&appName=Cluster1")
db=client.test1

In [51]:
df=df.to_json("D://testjson.json")

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\RJ\Desktop\FitBit data.csv")

In [3]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,04-08-2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,04-09-2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,04-10-2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,04-11-2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,04-12-2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [4]:
data=pd.to_datetime(df["ActivityDate"])

In [5]:
df["date_time_timestamp"]=data

In [6]:
df.drop("ActivityDate",axis=1)

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,date_time_timestamp
0,1503960366,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,2016-03-25
1,1503960366,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,2016-03-26
2,1503960366,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,2016-03-27
3,1503960366,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,2016-03-28
4,1503960366,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,2016-03-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,2016-04-08
453,8877689391,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,2016-04-09
454,8877689391,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,2016-04-10
455,8877689391,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,2016-04-11
456,8877689391,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938,2016-04-12

In [13]:
(df.groupby("Id")["Calories"].sum())

Id
1503960366    34128
1624580081    25705
1644430081    29164
1844505072    19391
1927972279    27048
2022484408    29704
2026352035    16266
2320127002    18385
2347167796    30320
2873212765    20349
2891001357    18187
3372868164    18603
3977333714    16777
4020332650    98412
4057192912    60913
4319703577    23931
4388161847    14442
4445114986    31617
4558609924    21962
4702921684    42322
5553957443    21630
5577150313    36303
6117666160    20993
6290855005    21656
6391747486    15868
6775888955    24523
6962181067    29249
7007744171    31525
7086361926    26124
8053475328    31825
8253242879    17556
8378563200    40274
8583815059    19130
8792009665    24884
8877689391    41414
Name: Calories, dtype: int64

In [14]:
import pandas as pd
import mysql as conn

In [22]:
df0=pd.read_excel(r"C:\Users\RJ\Desktop\Practice Resourses\Superstore_USA.xlsx")

In [23]:
df0

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [26]:
df.to_csv("D://df.csv")

In [29]:
df1=pd.read_csv(r"D:\df0.csv")

In [30]:
df1

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [31]:
import csvkit

In [35]:
!csvsql --db mysql://root:ROCKINGRJ12345@localhost/DB1 --insert df.csv

E:\AnacondaDistribution\Lib\site-packages\agate\utils.py:272: UnnamedColumnWarning: Column 0 has no name. Using "a".
  warn_unnamed_column(i, new_value)

In [156]:
df0=df

In [40]:
df[df["Status"]=="Returned"].value_counts()

Unnamed: 0  Order ID  Status
0           65        Returned    1
1085        152504    Returned    1
1095        153144    Returned    1
1094        153081    Returned    1
1093        153016    Returned    1
                                 ..
542         59776     Returned    1
541         59683     Returned    1
540         59680     Returned    1
539         59652     Returned    1
1633        182906    Returned    1
Length: 1634, dtype: int64

In [43]:
df0

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [45]:
df0[df0["Order ID"]==152504]

Empty DataFrame
Columns: [Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID]
Index: []

[0 rows x 24 columns]

In [47]:
result=pd.merge(df0,df,on="Order ID",how="inner")

In [49]:
result

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Unnamed: 0,Status
0,1359,Low,0.05,5.85,2.27,21,Tony Wilkins Winters,Regular Air,Small Business,Office Supplies,...,New York City,10012,2011-04-20,2011-04-24,-6.8200,9,54.79,9895,71,Returned
1,1950,Medium,0.01,4.91,0.50,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,112.0600,47,228.46,13959,114,Returned
2,1951,Medium,0.09,4.00,1.30,117,Linda Weiss,Express Air,Home Office,Office Supplies,...,Seattle,98103,2010-04-04,2010-04-06,16.7900,19,77.61,13959,114,Returned
3,5055,High,0.02,3.28,5.00,117,Linda Weiss,Regular Air,Home Office,Office Supplies,...,Seattle,98103,2013-08-16,2013-08-18,-89.0600,52,190.52,36038,288,Returned
4,5573,Low,0.02,11.97,5.81,272,Eleanor Swain,Regular Air,Small Business,Office Supplies,...,Charlotte,28204,2013-08-12,2013-08-12,-81.9413,76,912.06,39490,328,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,986,Not Specified,0.06,37.94,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-01-04,2013-01-06,-33.9680,3,113.14,7107,45,Returned
94,987,Not Specified,0.10,55.29,5.08,3075,Gordon Brandt,Regular Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-01-04,2013-01-05,163.1200,35,1886.52,7107,45,Returned
95,6041,Medium,0.05,4.28,6.18,3075,Gordon Brandt,Express Air,Corporate,Office Supplies,...,Los Angeles,90061,2013-06-25,2013-06-27,-22.5600,12,73.71,42823,354,Returned
96,1910,High,0.05,14.48,1.99,3079,Andrew Levine,Regular Air,Consumer,Technology,...,Philadelphia,19112,2012-09-30,2012-10-02,165.2000,96,1337.67,13638,111,Returned
97,6625,High,0.06,128.24,12.65,3251,Peter Brooks,Regular Air,Small Business,Furniture,...,New York City,10112,2012-09-11,2012-09-13,1844.9600,92,12002.16,47109,390,Returned

In [54]:
result1=df0.join(df,lsuffix='df',rsuffix='df0',how="inner")

In [55]:
result1

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order IDdf,Unnamed: 0,Order IDdf0,Status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,0,65,Returned
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,1,612,Returned
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,2,614,Returned
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,3,678,Returned
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,4,710,Returned
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629,23975,High,0.07,3.81,4.83,614,Ricky Kaufman,Regular Air,Home Office,Office Supplies,...,97477,2012-11-21,2012-11-23,21.1669,28,106.29,91274,1629,182681,Returned
1630,25408,High,0.10,55.99,2.50,615,Steven Herring,Regular Air,Home Office,Technology,...,97224,2011-04-11,2011-04-12,-155.2980,6,278.06,91271,1630,182683,Returned
1631,18492,Not Specified,0.02,15.57,1.39,617,Brett Schultz,Regular Air,Consumer,Office Supplies,...,81001,2010-10-29,2010-10-30,23.5428,3,46.23,88198,1631,182750,Returned
1632,18493,Not Specified,0.02,20.89,11.52,617,Brett Schultz,Regular Air,Consumer,Office Supplies,...,81001,2010-10-29,2010-10-30,-276.1128,13,279.28,88198,1632,182781,Returned
1633,22196,Critical,0.06,17.98,4.00,618,Robert Cowan,Regular Air,Consumer,Technology,...,81007,2010-09-24,2010-09-25,-78.1300,4,70.06,88197,1633,182906,Returned

In [62]:
count=df0.drop_duplicates(subset="Customer Name")

In [64]:
count["Customer Name"].value_counts()

Janice Fletcher     1
Alexander Joyner    1
Philip Olsen        1
Calvin Ferrell      1
Jeff Meadows        1
                   ..
Cecil Berger        1
Rita Vaughn         1
Tonya Proctor       1
Peggy Lanier        1
Tammy Buckley       1
Name: Customer Name, Length: 2703, dtype: int64

In [68]:
df0

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [70]:
df2=pd.read_csv(r"D:\df1.csv")

In [71]:
df2

   Unnamed: 0   Region  Manager
0           0  Central    Chris
1           1     East     Erin
2           2    South      Sam
3           3     West  William

In [81]:
df=df

In [82]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [80]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [83]:
df2

   Unnamed: 0   Region  Manager
0           0  Central    Chris
1           1     East     Erin
2           2    South      Sam
3           3     West  William

In [84]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [86]:
manager_of_df=pd.merge(df,df1,how="inner")

In [87]:
manager_of_df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [91]:
def manager_of_region(a):
    if a=="central":
        return "Chris"
    elif a=="East":
        return "Erin"
    elif a=="South" :
        return "Sam"
    else:
        return "William"

In [100]:
df["Manager_of_region"]=df["Region"].apply(manager_of_region)

In [101]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William

In [102]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William

In [106]:
data=pd.to_datetime(df["Order Date"])

In [111]:
df["Order_Day_of"]=data.dt.day

In [108]:
data1=pd.to_datetime(df["Ship Date"])

In [112]:
df["ship_day_of"]=data1.dt.day

In [110]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day,ship_day
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William,2012-05-28,2012-05-30
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William,2010-07-07,2010-07-08
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William,2011-07-27,2011-07-28
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William,2011-07-27,2011-07-28
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William,2011-07-27,2011-07-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin,2013-05-14,2013-05-15
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin,2013-05-14,2013-05-14
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin,2013-09-12,2013-09-14
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William,2010-02-08,2010-02-11
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William,2013-09-12,2013-09-14

In [117]:
df=df.drop("Order_Day",axis=1)

In [115]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day,ship_day,Order_Day_of,ship_day_of
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,2012-05-30,1.320000,2,5.90,88525,William,2012-05-28,2012-05-30,28,30
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,2010-07-08,4.560000,4,13.01,88522,William,2010-07-07,2010-07-08,7,8
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,2011-07-28,-47.640000,7,49.92,88523,William,2011-07-27,2011-07-28,27,28
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,2011-07-28,-30.510000,7,41.64,88523,William,2011-07-27,2011-07-28,27,28
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,998.202300,8,1446.67,88523,William,2011-07-27,2011-07-27,27,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-15,137.860000,13,447.87,87532,Erin,2013-05-14,2013-05-15,14,15
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,-39.070000,3,13.23,87532,Erin,2013-05-14,2013-05-14,14,14
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,2013-09-14,-1225.029097,4,2215.93,87533,Erin,2013-09-12,2013-09-14,12,14
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,2010-02-11,349.485000,5,506.50,87530,William,2010-02-08,2010-02-11,8,11
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,2013-09-14,78.062400,23,172.48,87533,William,2013-09-12,2013-09-14,12,14

In [118]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day_of,ship_day_of
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William,28,30
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William,7,8
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William,27,28
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William,27,28
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William,27,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin,14,15
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin,14,14
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin,12,14
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William,8,11
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William,12,14

In [125]:
df["date_differnce_till_order"]=df["ship_day_of"] - df["Order_Day_of"]

In [126]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day_of,ship_day_of,date_differnce,date_differnce_,date_differnce_till_order
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,1.320000,2,5.90,88525,William,28,30,-2,2,2
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,4.560000,4,13.01,88522,William,7,8,-1,1,1
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,-47.640000,7,49.92,88523,William,27,28,-1,1,1
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,-30.510000,7,41.64,88523,William,27,28,-1,1,1
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,998.202300,8,1446.67,88523,William,27,27,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,137.860000,13,447.87,87532,Erin,14,15,-1,1,1
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,-39.070000,3,13.23,87532,Erin,14,14,0,0,0
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,-1225.029097,4,2215.93,87533,Erin,12,14,-2,2,2
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,349.485000,5,506.50,87530,William,8,11,-3,3,3
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,78.062400,23,172.48,87533,William,12,14,-2,2,2

In [130]:
df=df.drop("date_differnce_",axis=1)

In [131]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day_of,ship_day_of,date_differnce_till_order
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William,28,30,2
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William,7,8,1
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William,27,28,1
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William,27,28,1
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William,27,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin,14,15,1
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin,14,14,0
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin,12,14,2
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William,8,11,3
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William,12,14,2

In [147]:
df[df["Ship Mode"]=="Regular Air"].value_counts().mean()

1.0

In [142]:
df.describe()

,Unnamed: 0,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID,Order_Day_of,ship_day_of,date_differnce_till_order
count,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9354.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000
mean,4712.500000,20241.015277,0.049628,88.303686,12.795142,1738.422236,0.512189,52446.327286,139.236410,13.798430,949.706272,82318.489073,15.503713,15.480904,-0.022809
std,2721.196152,6101.890965,0.031798,281.540982,17.181203,979.167197,0.135229,29374.597802,998.486483,15.107688,2598.019818,19149.448857,8.770909,8.720019,7.286761
min,0.000000,2.000000,0.000000,0.990000,0.490000,2.000000,0.350000,1001.000000,-16476.838000,1.000000,1.320000,6.000000,1.000000,1.000000,-30.000000
25%,2356.250000,19330.250000,0.020000,6.480000,3.192500,898.000000,0.380000,29406.000000,-74.017375,5.000000,61.282500,86737.250000,8.000000,8.000000,1.000000
50%,4712.500000,21686.500000,0.050000,20.990000,6.050000,1750.000000,0.520000,52302.000000,2.567600,10.000000,203.455000,88344.500000,15.000000,15.000000,2.000000
75%,7068.750000,24042.750000,0.080000,85.990000,13.990000,2578.750000,0.590000,78516.000000,140.243850,17.000000,776.402500,89987.750000,23.000000,23.000000,2.000000
max,9425.000000,26399.000000,0.250000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,16332.414000,170.000000,100119.160000,91591.000000,31.000000,31.000000,9.000000

In [150]:
df[df["date_differnce_till_order"]>=10]

Empty DataFrame
Columns: [Unnamed: 0, Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, Manager_of_region, Order_Day_of, ship_day_of, date_differnce_till_order]
Index: []

[0 rows x 29 columns]

In [151]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day_of,ship_day_of,date_differnce_till_order
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William,28,30,2
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William,7,8,1
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William,27,28,1
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William,27,28,1
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William,27,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin,14,15,1
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin,14,14,0
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin,12,14,2
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William,8,11,3
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William,12,14,2

In [152]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day_of,ship_day_of,date_differnce_till_order
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William,28,30,2
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William,7,8,1
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William,27,28,1
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William,27,28,1
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William,27,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin,14,15,1
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin,14,14,0
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin,12,14,2
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William,8,11,3
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William,12,14,2

In [154]:
df.describe()

,Unnamed: 0,Row ID,Discount,Unit Price,Shipping Cost,Customer ID,Product Base Margin,Postal Code,Profit,Quantity ordered new,Sales,Order ID,Order_Day_of,ship_day_of,date_differnce_till_order
count,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9354.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000,9426.000000
mean,4712.500000,20241.015277,0.049628,88.303686,12.795142,1738.422236,0.512189,52446.327286,139.236410,13.798430,949.706272,82318.489073,15.503713,15.480904,-0.022809
std,2721.196152,6101.890965,0.031798,281.540982,17.181203,979.167197,0.135229,29374.597802,998.486483,15.107688,2598.019818,19149.448857,8.770909,8.720019,7.286761
min,0.000000,2.000000,0.000000,0.990000,0.490000,2.000000,0.350000,1001.000000,-16476.838000,1.000000,1.320000,6.000000,1.000000,1.000000,-30.000000
25%,2356.250000,19330.250000,0.020000,6.480000,3.192500,898.000000,0.380000,29406.000000,-74.017375,5.000000,61.282500,86737.250000,8.000000,8.000000,1.000000
50%,4712.500000,21686.500000,0.050000,20.990000,6.050000,1750.000000,0.520000,52302.000000,2.567600,10.000000,203.455000,88344.500000,15.000000,15.000000,2.000000
75%,7068.750000,24042.750000,0.080000,85.990000,13.990000,2578.750000,0.590000,78516.000000,140.243850,17.000000,776.402500,89987.750000,23.000000,23.000000,2.000000
max,9425.000000,26399.000000,0.250000,6783.020000,164.730000,3403.000000,0.850000,99362.000000,16332.414000,170.000000,100119.160000,91591.000000,31.000000,31.000000,9.000000

In [155]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day_of,ship_day_of,date_differnce_till_order
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William,28,30,2
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William,7,8,1
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William,27,28,1
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William,27,28,1
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William,27,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin,14,15,1
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin,14,14,0
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin,12,14,2
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William,8,11,3
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William,12,14,2

In [157]:
df

,Unnamed: 0,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,...,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager_of_region,Order_Day_of,ship_day_of,date_differnce_till_order
0,0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,...,2012-05-28,2012-05-30,1.320000,2,5.90,88525,William,28,30,2
1,1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,...,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William,7,8,1
2,2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William,27,28,1
3,3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,...,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William,27,28,1
4,4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,...,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William,27,27,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin,14,15,1
9422,9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,...,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin,14,14,0
9423,9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,...,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin,12,14,2
9424,9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,...,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William,8,11,3
9425,9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,...,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William,12,14,2

In [158]:
df=pd.read_excel(r"C:\Users\RJ\Desktop\Practice Resourses\Superstore_USA.xlsx")

In [159]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [161]:
post=df.drop_duplicates("Postal Code")

In [162]:
post

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.32000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.56000,4,13.01,88522
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,West,California,San Gabriel,91776,2010-12-13,2010-12-15,4390.36650,12,6362.85,90193
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,West,California,San Jose,95123,2011-05-26,2011-05-26,1045.46730,16,1515.17,90194
13,21866,High,0.05,12.28,4.86,7,Leon Gill,Regular Air,Home Office,Office Supplies,...,East,Massachusetts,Fall River,2724,2012-10-30,2012-10-31,72.99280,19,232.95,90198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9381,23093,Medium,0.04,12.95,4.98,3389,Erica Nguyen,Regular Air,Corporate,Office Supplies,...,East,Connecticut,Darien,6820,2013-08-20,2013-08-22,157.93884,23,305.58,90159
9393,18988,Low,0.02,276.20,24.49,3396,Stuart Wiley,Regular Air,Corporate,Furniture,...,Central,Illinois,Crystal Lake,60014,2012-08-07,2012-08-11,2206.68900,11,3198.10,87541
9400,20624,Low,0.00,1270.99,19.99,3397,Andrea Shaw,Regular Air,Small Business,Office Supplies,...,Central,Illinois,Danville,61832,2010-06-07,2010-06-09,6384.43890,7,9252.81,87535
9406,22599,Critical,0.01,177.98,0.99,3398,Marc McDaniel,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Decatur,62521,2011-05-07,2011-05-09,902.10600,7,1307.40,87538
9413,24911,Medium,0.10,9.38,4.93,3400,Florence Gold,Express Air,Small Business,Furniture,...,East,West Virginia,Fairmont,26554,2010-10-04,2010-10-04,-24.71040,15,135.78,87537

In [163]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [171]:
profit_by_region=df.groupby("Region")["Profit"].sum()

In [172]:
profit_by_region

Region
Central    519825.567067
East       377566.186045
South      104201.192420
West       310849.453897
Name: Profit, dtype: float64

In [173]:
max_profit=profit_by_region.idxmax()

In [174]:
max_profit

'Central'

In [182]:
discount_=df.groupby("Region")["Discount"].max()

In [183]:
discount_

Region
Central    0.25
East       0.10
South      0.10
West       0.10
Name: Discount, dtype: float64

In [184]:
max_discount=discount_.idxmax()

In [185]:
max_discount

'Central'

In [205]:
cus_profit=df.groupby("Customer Name")["Profit"].sum()

In [206]:
cus_profit

Customer Name
Aaron Davies Bruce       1224.810500
Aaron Day                 -98.126000
Aaron Dillon               33.473200
Aaron Fuller Davidson      33.988950
Aaron Riggs              1081.305600
                            ...
Zachary House             -13.962600
Zachary Maynard          -390.768000
Zachary Potter              9.500600
Zachary Wu                 86.658029
Zachary Yu                -55.689920
Name: Profit, Length: 2703, dtype: float64

In [207]:
cus_pro=cus_profit.idxmax()

In [208]:
cus_pro

'Andrea Shaw'

AttributeError: 'DataFrame' object has no attribute 'cus_profit'

In [209]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

In [220]:
loss_cate=df[df["Profit"]<0].groupby("Product Category")["Profit"].sum()

In [232]:
if len(loss_cate)>=2:
    loss_category=loss_cate.sort_values(ascending=False).index[2]
    print(loss_category)
else:
    print("not enough product category")

Furniture

In [233]:
loss_cate

Product Category
Furniture         -410464.845289
Office Supplies   -393433.301145
Technology        -358842.689349
Name: Profit, dtype: float64

In [223]:
loss_cate

Product Category
Furniture         -410464.845289
Office Supplies   -393433.301145
Technology        -358842.689349
Name: Profit, dtype: float64

In [234]:
df

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533